#root {
    --color-primary:  #2626fa;
    --color-primary-focus: #0001ff;
    --color-primary-negative: #424299;
  
    --grey-0: #F8F9FA;
    --grey-1: #868E96;
    --grey-2: #343B41;
    --grey-3: #212529;
    --grey-4: #121214;
    --grey-focus: #49525A;
    --grey-modal: #4b4b4b4a;
  
    --title-1: 20px;
    --title-2: 16px;
    --paragraph: 16px;
    --button-label: 14px;

    --weigth-600: 600;
    --weigth-500: 500;
  
    background-color: var(--grey-4);
    font-family: "Roboto", sans-serif;
}