.loginRegister {
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--grey-2);
    color: var(--grey-0);
}

.labelInputs {    
    margin-left: 2px;
    font-size: var(--button-label);
    color: var(--grey-0);
}